body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.black-background {
    background-color: #1f2937;
    font-family: "Roboto";
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-image {
    height: auto;
    width: 200px;

}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;

}