body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    
}

.black-background {
    background-color: #1f2937;
    color: white;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 200px 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    padding: 90px 200px;
    gap: 24px;
}

.header-image {
    height: auto;
    width: 600px;

}

.main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.secondary-text {
    margin: 0;
    padding: 8px 0;
}

.left {
    font-size: 24px;
    color: #f9faf8;
}

.secondary-text,
.right {
    font-size: 18px;
    color: #e5e7eb;
}

/* white-background */

.white-background {
    display: flex;
    flex-direction: column;
}

.white-background .header {
font-size: 36px;
color: #1f2937;
font-weight: 900;
margin: 0;
padding: 70px;
}

.images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0 200px 50px;
}

.white-background img {
    height: 100%;
    width: 200px;
}

.white-background p {
    display: flex;
    justify-content: center;
}

.hero-content button,
.call button {
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
}

 /*comment section*/
 .comment-section {
    background-color: #e5e7eb;
    color: #1f2937;
    margin: 0;
    padding: 150px 400px;
 }

 .comment {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin: 0;
    padding: 0;
 }

.commenter {
    text-align: end;
    font-weight: 900;
    font-size: 25px;
}

/*call for action part*/
.call {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border: 100px solid white;
    border-radius: 30px;
    border-collapse: separate;
    padding: 80px 350px;
    color: white;
}

.bigger {
    font-size: 25px;
    font-weight: 900;
    margin: 0;
}

.smaller {
    margin: 0;
    color: #e5e7eb;
}

.call button {
    border: 3px solid white;
    font-size: 20px;
    font-weight: 900;
}

/*footer*/
.footer {
    text-align: center;
    padding: 40px;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    gap: 16px;

}

a {
    text-decoration: none;
    color: white;
}